<!--Navbar-->
<div class="container">
    <div class="row text-center">
        <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="/">SISTEMA WEB</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="/">Cadastrar</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-white-50" href="/consultar">Consultar</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
    </div>

    <!--Cabeçalho-->
    <div class="row mt-3 m-1">
        <h3 class="fw-normal pb-3">Cadastrar - Agendamentos de Potenciais Cliente</h3>
        <p>Sistema Utilizado para agendamento de serviços</p>
    </div>

    <!--Tabela-->
    <div class="row bg-primary text-light p-1 text-center">
        <div class="col">
            Nome
        </div>
        <div class="col">
            Telefone
        </div>
        <div class="col">
            Origem
        </div>
        <div class="col">
            Data de Contato
        </div>
        <div class="col">
            Observação
        </div>
    </div>
</div>